node_modules
npm-debug.log
logs/*.log
octoapp.sh
screen.conf
screenlog.0
newrelic.js
newrelic_agent.log
appdynamics_config.js
sftp-config.jsonDISABLED
hs*.log
.env
nodemon.json
.DS_Store
octoappcreds.json
