<!DOCTYPE html>
<html ng-app="octoapp">
  <head>
    <style>
    .row.extra-bottom-padding{
       margin-bottom: 10px;
    }
    [class*="span"] { background: #EEF; }
    [class*="span"] [class*="span"] { background: #FEE; }


    [class*="row"] {
       margin-top:10px;
       padding: 20px;
       outline: 2px solid #ddd;
       outline-offset: -10px;
       -moz-outline-radius: 10px;
       -webkit-outline-radius: 10px;
    }

/*

    div.header {
       margin-top:10px;
       padding: 20px;
       outline: 2px solid #ddd; 
       outline-offset: -10px;
       -moz-outline-radius: 10px;
       -webkit-outline-radius: 10px;      
    }
*/
    div.buttonCell {
      background: green;
    }

    input {
       max-width: 100%;
    }
    </style>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>
    <script type="text/javascript" src="/public/js/angular-app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="octoController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 header">
          <h1><%= title %><img src="/public/img/_Final_xM_Octo-Logo-01.png" width="100" height="100" align="right"></h1>
        </div>
      </div>

<% if( !user ) { %>
      <div class="row">
        <div class="col-md-6">
          <h2>Welcome!</h2>
          <p>Pelase <a href="/login">login</a>.</p>
        </div>
      </div>
<% } else { %>

      <div class="row">
        <div class="col-md-3 cellBorder">
          <form name="dynatrace">
            <button name="tripDynatraceButton" ng-model="tripDynatraceButton" ng-click="tripDynatrace()" class="btn btn-primary">Trigger Stacktrace <span class="glyphicon glyphicon-console"></span></button>
            <div ng-messages="stacktrace.tripDynatraceButton.$error" role="alert">
              <div ng-message="submitted">Successfully wrote stack trace to ./logs/dynatracer.log</div>
              <div ng-message="error">Error writing stack trace</div>
            </div>
          </form>
        </div>

        <div class="col-md-3 cellBorder">
          <img src="/public/img/dynatrace-logo.png" height="50" align="left">
        </div> 

        <div class="col-md-3 cellBorder">
          <on-call product="Dynatrace" oncalldata="oncallData['Dynatrace']"></on-call>
        </div>
        
      </div>
        
      <div class="row">
        <div class="col-md-3 cellBorder">
          <form name="stacktrace">
            <button name="tripStacktraceButton" ng-model="tripStacktraceButton" ng-click="tripStacktrace()" class="btn btn-primary">Trigger Stacktrace <span class="glyphicon glyphicon-console"></span></button>
            <div ng-messages="stacktrace.tripStacktraceButton.$error" role="alert">
              <div ng-message="submitted">Successfully wrote stack trace to ./logs/stacktrace.log</div>
              <div ng-message="error">Error writing stack trace</div>
            </div>
          </form>
        </div>
        

        <div class="col-md-3 cellBorder">
          <img src="/public/img/splunk-logo.png" height="50" align="left">
        </div>

        <div class="col-md-3 cellBorder">
          <on-call product="Splunk" oncalldata="oncallData['Splunk']"></on-call>
        </div>


      </div>

      <div class="row">
        <div class="col-md-3 cellBorder">
          
          <form name="cpuspike" class="form-inline">
            <div class="form-group">
              <button name="cpuspikebutton" ng-model="cpuspikebutton" ng-click="spikeCPU()" class="btn btn-primary">CPU Spike <span class="glyphicon glyphicon-equalizer"></span></button>
            </div>
            
            <div ng-messages="cpuspike.cpuspikebutton.$error" role="alert">
              <div ng-message="submitted">Starting spike for {{spikeCPUseconds}} seconds</div>
              <div ng-message="finished">Finished spike</div>
            </div>
            
          </form>
        </div>
        <div class="col-md-3 cellBorder">
          <img src="/public/img/solarwinds-server-application-monitor.png" height="50" align="left">
        </div>

        <div class="col-md-3 cellBorder">
          <on-call product="SolarWinds" oncalldata="oncallData['SolarWinds']"></on-call>
        </div>


      </div>

      <div class="row">
        <div class="col-md-3 cellBorder">
          <form name="errorform">
            <button name="errorbutton" ng-model="errorbutton" ng-click="makeerror()" class="btn btn-primary">Throw Error <span class="glyphicon glyphicon-alert"></span></button>
            <div ng-messages="errorform.errorbutton.$error" role="alert">
              <div ng-message="submitted">Made ink!</div>
              <div ng-message="error">Bad happened</div>
            </div>
          </form>
        </div>
        <div class="col-md-3 cellBorder">
          <img src="/public/img/NewRelic-logo-bug.png" height="50" align="left">
        </div>

        <div class="col-md-3 cellBorder">
          <on-call product="New Relic" oncalldata="oncallData['New Relic']"></on-call>
        </div>


      </div>

      <div class="row">
        <div class="col-md-3 cellBorder">
          <form name="makemetricsform">
            
            <button name="makemetricsbutton" ng-model="makemetricsbutton" ng-click="makeMetrics( 40 )" class="btn btn-primary">Set Metric: 40</button>
            <button name="makemetricsbutton" ng-model="makemetricsbutton" ng-click="makeMetrics( 20 )" class="btn btn-primary">Set Metric: 20</button>
            <br/>
            <div ng-messages="makemetricsform.makemetricsbutton.$error" role="alert">
              <div ng-message="submitted">Set metric to {{$scope.value}}</div>
              <div ng-message="error">Error moving someMetric. Is Prometheus up?</div>
            </div>
          </form>
          <a href="/metrics">See Metrics</a>
        </div>
        <div class="col-md-3 cellBorder">
          <img src="/public/img/prometheus-logo.png" height="50" align="left">
        </div>

        <div class="col-md-3 cellBorder">
          <on-call product="Prometheus" oncalldata="oncallData['Prometheus']"></on-call>
        </div>

      </div>

      <% } %>
    </div>
  </body>
</html>