<!DOCTYPE html>
<html ng-app="octoapp">
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>

    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>


    <script type="text/javascript" src="/public/js/angular-app.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body ng-controller="octoController">
    <h1><%= title %></h1>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
            Trigger Stacktrace
        </div>
        <div class="col-md-2">
              <form name="stacktrace">
                <button name="tripStacktrace" ng-model="tripStacktrace" ng-click="tripStacktrace()" class="btn btn-primary">Trigger Stacktrace</button>
                <div ng-messages="stacktrace.tripStacktrace.$error" role="alert">
                  <div ng-message="submitted">Successfully wrote stack trace to ./logs/stacktrace.log</div>
                  <div ng-message="error">Error writing stack trace</div>
                </div>
              </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          CPU Spike
        </div>
        <div class="col-md-2">
        
              <form name="cpuspike" class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="spikeCPUseconds"># sec to spike CPU</label>
                <input ng-model="spikeCPUseconds" size="18" type="number" class="form-control" id="spikeCPUseconds" placeholder="# sec to spike CPU">

                <button name="cpuspikebutton" ng-model="cpuspikebutton" ng-click="spikeCPU()" class="btn btn-primary">Spike</button>
              </div>

                <div ng-messages="cpuspike.cpuspikebutton.$error" role="alert">
                  <div ng-message="submitted" class="bg-success">Starting spike for {{spikeCPUseconds}} seconds</div>
                  <div ng-message="finished" class="bg-info">Finished spike</div>
                </div>

              </form>
        </div>
	 </div>


  </body>
</html>