html
	head
		title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
        script(src='javascripts/lib/angular-route.js')
